  <!-- copyright and links -->
  <footer>
    <div class="container">
      <div class="col-md-4">
        <span>Copyright © Ashwin Chatterji</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li>
            <a href="https://www.facebook.com/ashwinath">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/ashwin-chatterji-87702b50/">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <span>ashwinath@hotmail.com</span>
      </div>
    </div>
  </footer>
  <!-- copyright and links end -->

  <!-- js scripts -->
  <script src="js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script> 
  <script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script> 
  <script>
    $('.close').click(() => {
      $('.alert').hide();
    });
  </script>
  <!-- js scripts end -->
</body>
</html>
