<!DOCTYPE html>
<html>
<head>
  <title>Ashwin Chat</title>
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family=Clicker+Script|Comfortaa:400,700|Pontano+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
</head>
<body>
  <!-- navbar -->
  <nav id="front-nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">ashwin.chat</a>
      </div>

      <!-- nav links, forms and other content for toggling -->
      <div class="collapse navbar-right navbar-nav navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>

    </div>
  </nav>
  <!-- navbar end -->
