<div class="container">
  <div class="page-header header text-center">
    <h2 id="timeline">About Me</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="fa fa-book"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Enrolled into Nanyang Technological University</h4>
          <p><small class="text-muted">Aug 2013</small></p>
        </div>
        <div class="timeline-body">
          <img src="/img/NBS-MasterLogo.png" class="img-responsive">
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="fa fa-code"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Started Learning Programming</h4>
          <p><small class="text-muted">Apr 2015</small></p>
        </div>
        <div class="timeline-body">
          <p>That giant leap of faith to switch career paths.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="fa fa-briefcase"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Interned at Epikk Co</h4>
          <p><small class="text-muted">May to July 2015</small></p>
        </div>
        <div class="timeline-body">
          <img src="/img/epikk.png" class="img-responsive">
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge danger"><i class="fa fa-android"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Completed Android Movies App</h4>
          <p><small class="text-muted">March 2016</small></p>
        </div>
        <div class="timeline-body">
          <p>The app that marks my major milestone from being a casual developer to a professional developer.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="fa fa-book"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Left Nanyang Technological University</h4>
          <p><small class="text-muted">May 2016</small></p>
        </div>
        <div class="timeline-body">
          <img src="/img/NBS-MasterLogo.png" class="img-responsive">
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="fa fa-briefcase"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Started Working at HPE (Now DXC Technology)</h4>
          <p><small class="text-muted">July 2016</small></p>
        </div>
        <div class="timeline-body">
          <img src="/img/Hewlett_Packard_Enterprise.png" class="img-responsive">
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="fa fa-code"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Wrote Personal Website and Blog</h4>
          <p><small class="text-muted">March 2017</small></p>
        </div>
        <div class="timeline-body">
          <p>
            Diversifying my portfolio by branching out to full stack web development to add on to my current role in backend batch processing.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
