<!DOCTYPE html>
<html>
<head>
  <title>Personal Website</title>
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family=Clicker+Script|Comfortaa:400,700|Pontano+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
</head>
<body>
</body>
  <!-- navbar -->
  <nav id="front-nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">ashwin.chat</a>
      </div>

      <!-- nav links, forms and other content for toggling -->
      <div class="collapse navbar-right navbar-nav navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>

    </div>
  </nav>
  <!-- navbar end -->

  <!-- flash message -->
  <!--
  <% if(success && success != "") { %>
  <div class="container">
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Your message has been sent!</strong>
      <p>
        <%= success %>
      </p>
    </div>
  </div>
  <% } else if (failure && failure != "") { %>
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>So sorry!</strong>
      <p>
        <%= failure %>
      </p>
    </div>
  <% } %>


  <script>
    $('.close').click(() => {
      $('.alert').hide();
    });
  </script>
  -->
  <!-- flash message end -->

  <!-- header introduction -->
  <header>
    <div class="container">
      <div class="header-intro-grp">
        <p class="header-intro" >Hi I'm Ashwin<p>
        <p class="header-intro-message">Great to meet you!</p>
      </div>
    </div>
  </header>
  <!-- header introduction end -->

  <!-- about me -->
  <section class="about-me">
    <div class="col-lg-12 text-center header">
      <h2>About Me</h2>
    </div>
    <div class="container">
      When in doubt, wash cats secretly make all the worlds muffins. Attack dog, run away and pretend to be victim i am the best and go into a room to decide you didn't want to be in there anyway brown cats with pink ears destroy the blinds. My left donut is missing, as is my right sit and stare. Stare at the wall, play with food and get confused by dust my slave human didn't give me any food so i pooped on the floor and favor packaging over toy, knock dish off table head butt cant eat out of my own dish yet sit in window and stare ooo, a bird! yum cat slap dog in face, eat the fat cats food. Cats secretly make all the worlds muffins man running from cops stops to pet cats, goes to jail for where is my slave?
    </div>
  </section>
  <!-- about me end -->

  <section class="portfolio">
    <!-- portfolio header-->
    <div class="col-lg-12 text-center header">
      <h2>My Portfolio</h2>
    </div>
    <!-- portfolio header end-->

    <!-- portfolio start -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://computertutorinc.net/wp-content/uploads/2013/04/computer_maintenance.png">
            <div class="caption">
              <h3>Lorem Ipsum</h3>
              <p>
              Chew iPad power cord hunt by meowing loudly at 5am next to human slave food dispenser destroy couch, or cat not kitten around friends are not food yet when in doubt, wash. Make meme, make cute face mark territory. Make muffins sleep nap and hide from vacuum cleaner wake up wander around the house making large amounts of noise jump on top of your human's bed and fall asleep again yet kitty poochy. 
              </p>
              <p><a href="#" class="btn btn-lg" role="button">GitHub</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://computertutorinc.net/wp-content/uploads/2013/04/computer_maintenance.png">
            <div class="caption">
              <h3>Lorem Ipsum</h3>
              <p>
              Chew iPad power cord hunt by meowing loudly at 5am next to human slave food dispenser destroy couch, or cat not kitten around friends are not food yet when in doubt, wash. Make meme, make cute face mark territory. Make muffins sleep nap and hide from vacuum cleaner wake up wander around the house making large amounts of noise jump on top of your human's bed and fall asleep again yet kitty poochy.               </p>
              <p><a href="#" class="btn btn-lg" role="button">GitHub</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://computertutorinc.net/wp-content/uploads/2013/04/computer_maintenance.png">
            <div class="caption">
              <h3>Lorem Ipsum</h3>
              <p>
              Chew iPad power cord hunt by meowing loudly at 5am next to human slave food dispenser destroy couch, or cat not kitten around friends are not food yet when in doubt, wash. Make meme, make cute face mark territory. Make muffins sleep nap and hide from vacuum cleaner wake up wander around the house making large amounts of noise jump on top of your human's bed and fall asleep again yet kitty poochy.
              </p>
              <p><a href="#" class="btn btn-lg" role="button">GitHub</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- portfolio end -->
    
  </section>

  <section class="work-exp">
    <!-- work history header-->
    <div class="col-lg-12 text-center header">
      <h2>My Work Experience</h2>
    </div>
    <!-- work history header end-->

    <!-- work history -->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="thumbnail">
            <img class="work-img img-responsive img-centered" src="http://1k2qy51jcpdx2peszat8iswc.wpengine.netdna-cdn.com/wp-content/uploads/2016/03/Hewlett_Packard_Enterprise.png"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <img class="work-img img-responsive img-centered" src="http://1k2qy51jcpdx2peszat8iswc.wpengine.netdna-cdn.com/wp-content/uploads/2016/03/Hewlett_Packard_Enterprise.png"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <img class="work-img img-responsive img-centered" src="http://1k2qy51jcpdx2peszat8iswc.wpengine.netdna-cdn.com/wp-content/uploads/2016/03/Hewlett_Packard_Enterprise.png"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <img class="work-img img-responsive img-centered" src="http://1k2qy51jcpdx2peszat8iswc.wpengine.netdna-cdn.com/wp-content/uploads/2016/03/Hewlett_Packard_Enterprise.png"/>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- work history end -->

  <section class="contact-me">
    <!-- contact me header-->
    <div class="col-sm-12 text-center header">
      <h2>Contact Me</h2>
    </div>
    <!-- contact me header end-->

    <!-- contact me -->
    <div class="container">
      <form action="/contact" method="post" class="form-horizontal">
        <div class="col-md-6">
          <div class="form-group">
            <input name="contact[name]" type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon1">
          </div>

          <div class="form-group">
            <input name="contact[email]" type="email" class="form-control" placeholder="E-Mail" aria-describedby="sizing-addon1">
          </div>

          <div class="form-group">
            <input name="contact[phone]" type="text" class="form-control" placeholder="Contact Number" aria-describedby="sizing-addon1">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <textarea name="contact[message]" class="form-control" placeholder="Message"></textarea>
          </div>
        </div>

        <div class="col-lg-12 text-center">
            <button class="btn btn-xl" type="submit">Submit!</button>
        </div>
        </form>
      </div>
    </div>
  </section>
  <!-- contact me end -->

  <!-- copyright and links -->
  <footer>
    <div class="container">
      <div class="col-md-4">
        <span>Copyright © Ashwin</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li>
            <a href="https://www.facebook.com/ashwinath">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/ashwin-chatterji-87702b50/">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <span>ashwinath@hotmail.com</span>
      </div>
    </div>
  </footer>
  <!-- copyright and links end -->

  <!-- js scripts -->
  <script src="js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script> 
  <script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script> 
  <!-- js scripts end -->
</html>
