<% include ../partials/header.ejs %>

<div class="container">

  <!-- jumbotron introduction -->
  <div id="main-title" class="jumbotron text-center">
    <h1>ashwin.chat</h1>
    <p>
      I am a self taught developer whom also hold a degree in business (marketing). During my university as a marketing student, I learnt a fair bit of computer science as well as programming. I enjoy writing software and still continue to do it as my job, as well as during my free time.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/ashwin-chatterji-87702b50/" role="button">View Linkedin</a>
      <a class="btn btn-primary btn-lg" href="https://docs.google.com/document/d/126JIerPmORpVs4Uoy3Uw4GPPYhMmEC3bfvBoPrMqS-Y/edit?usp=sharing" role="button">View Resume</a>
      <a class="btn btn-primary btn-lg" href="/blog" role="button">View Blog</a>
    </p>
  </div>
  <!-- jumbotron introduction end -->

  <!-- portfolio header-->
  <div class="col-lg-12 text-center">
    <h2>My Portfolio</h2>
    <hr/>
  </div>
  <!-- portfolio header end-->

  <!-- portfolio start -->
  <div class="row">

  <% portfolio.forEach(project => { %>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="<%= project.picture %>">
        <div class="caption">
          <h3><%= project.title %></h3>
          <p>
            <%= project.description %>
          </p>
          <p><a href="<%= project.github %>" class="btn btn-primary" role="button">GitHub</a></p>
        </div>
      </div>
    </div>

  <% }); %>
  <!-- portfolio end -->

  <!-- contact me header-->
  <div class="col-lg-12 text-center">
    <h2>Contact Me</h2>
    <hr/>
  </div>
  <!-- contact me header end-->

  <!-- contact me -->
  <form action="/contact" method="post" class="col-lg-8 col-lg-offset-2 form-horizontal">
    <fieldset>
      <div class="form-group input-group input-group-lg">
        <span class="input-group-addon glyphicon glyphicon-user" id="sizing-addon1"></span>
        <input name="contact[name]" type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon1">
      </div>

      <div class="form-group input-group input-group-lg">
        <span class="input-group-addon glyphicon glyphicon-envelope" id="sizing-addon1"></span>
        <input name="contact[email]" type="email" class="form-control" placeholder="E-Mail" aria-describedby="sizing-addon1">
      </div>

      <div class="form-group input-group input-group-lg">
        <span class="input-group-addon glyphicon glyphicon-earphone" id="sizing-addon1"></span>
        <input name="contact[phone]" type="text" class="form-control" placeholder="Contact Number" aria-describedby="sizing-addon1">
      </div>

      <div class="form-group">
        <textarea name="contact[message]" class="form-control" placeholder="Message" rows="8"></textarea>
      </div>

      <button class="btn btn-lg btn-primary" type="submit">Submit!</button>
    </fieldset>

  </form>
  <!-- contact me end -->
  
</div>

<% include ../partials/footer.ejs %>
