<% include ../partials/header.ejs %>

<div class="container">

  <!-- jumbotron introduction -->
  <div class="jumbotron">
    <h1>ashwin.chat</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor elit a orci laoreet rhoncus. Vestibulum in lectus urna. Mauris et orci venenatis, blandit nibh sit amet, venenatis sapien.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/ashwin-chatterji-87702b50/" role="button">Linkedin</a>
      <a class="btn btn-primary btn-lg" href="https://docs.google.com/document/d/126JIerPmORpVs4Uoy3Uw4GPPYhMmEC3bfvBoPrMqS-Y/edit?usp=sharing" role="button">View Resume</a>
    </p>
  </div>
  <!-- jumbotron introduction end -->

  <!-- portfolio header-->
  <div class="col-lg-12 text-center">
    <h2>My Portfolio</h2>
    <hr/>
  </div>
  <!-- portfolio header end-->

  <!-- portfolio start -->
  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://i.telegraph.co.uk/multimedia/archive/03597/POTD_chick_3597497k.jpg">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet ex a purus vestibulum bibendum. Aenean eget gravida est. Aenean pretium ipsum libero, sed faucibus enim ornare vel. Nulla ultricies suscipit sem vel vulputate. In hac habitasse platea dictumst. Mauris vehicula purus eget sapien efficitur, eget vulputate risus rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam id tempor risus.
          </p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://i.telegraph.co.uk/multimedia/archive/03597/POTD_chick_3597497k.jpg">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet ex a purus vestibulum bibendum. Aenean eget gravida est. Aenean pretium ipsum libero, sed faucibus enim ornare vel. Nulla ultricies suscipit sem vel vulputate. In hac habitasse platea dictumst. Mauris vehicula purus eget sapien efficitur, eget vulputate risus rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam id tempor risus.
          </p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://i.telegraph.co.uk/multimedia/archive/03597/POTD_chick_3597497k.jpg">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet ex a purus vestibulum bibendum. Aenean eget gravida est. Aenean pretium ipsum libero, sed faucibus enim ornare vel. Nulla ultricies suscipit sem vel vulputate. In hac habitasse platea dictumst. Mauris vehicula purus eget sapien efficitur, eget vulputate risus rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam id tempor risus.
          </p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        </div>
      </div>
    </div>

  </div>
  <!-- portfolio end -->

  <!-- contact me header-->
  <div class="col-lg-12 text-center">
    <h2>Contact Me</h2>
    <hr/>
  </div>
  <!-- contact me header end-->

  <!-- contact me -->
  <form action="/contact" method="post" class="col-lg-8 col-lg-offset-2">
    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon glyphicon glyphicon-user" id="sizing-addon1"></span>
      <input name="contact[name]" type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon1">
    </div>

    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon glyphicon glyphicon-envelope" id="sizing-addon1"></span>
      <input name="contact[email]" type="email" class="form-control" placeholder="E-Mail" aria-describedby="sizing-addon1">
    </div>

    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon glyphicon glyphicon-earphone" id="sizing-addon1"></span>
      <input name="contact[phone]" type="text" class="form-control" placeholder="Contact Number" aria-describedby="sizing-addon1">
    </div>

    <div class="form-group">
      <textarea name="contact[message]" class="form-control" placeholder="Message" rows="8"></textarea>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">Submit!</button>

  </form>
  <!-- contact me end -->
  
</div>

<% include ../partials/footer.ejs %>
