body {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 2em;
}
#front-nav {
  border: none;
}

.navbar-default .navbar-brand {
  color: #654321;
  font-family: 'Clicker Script', cursive;
  font-size: 2.5em;
}

header {
  padding-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/splash.jpg");
  opacity: 0.9;
  color: #fff;
  text-align: center;
  display: block;
}

.header-intro-grp {
  padding-top: 200px;
  padding-bottom: 200px;
  font-family: 'Comfortaa', cursive;
  text-shadow: 5px 5px 5px #000;
}

.header-intro {
  font-size: 3em;
}

.header-intro-message {
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 700;
}

section {
  padding: 70px 0;
}

.portfolio, .contact-me, .services {
  background: rgba(26,26,26,.1);
}

.thumbnail {
  margin: 0 auto;
  background: transparent;
  border: 0 none;
  box-shadow:none;
}

.thumbnail img {
  max-height: 100px;
}

.header h2 {
  margin-bottom: 70px;
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
}

input.form-control, text-area.form-control {
  padding: 20px;
}

.form-group {
  padding: 0 20px;
}

.work-exp {
  padding: 0 0;
}

.form-control {
  font-size: 1.2em;
  font-weight: 700;
  height: auto;
}

textarea.form-control {
  height: 260px;
}

.work-img {
  margin: 50px auto;
}

.img-responsive {
  margin: 50px 50px;
}

footer {
  padding: 25px 0;
  text-align: center;
}

.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  background-color: #222;
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  border-radius: 100%;
  outline: 0;
  display: block;
  color: #fff;
}

.btn {
  color: #000;
  background-color: #fed136;
  border-color: #fed136;
  border-radius: 10px;
}

.btn-xl {
  font-size: 1.5em;
  padding: 15px 30px;
}

.about-me-timeline {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 50px;
}

.portfolio-pic-container, .portfolio-caption {
  max-width: 400px;
  text-align: center;
  background-color: #fff;
}

.portfolio-pic-container {
  overflow: hidden;
  min-height: 256px;
  max-height: 256px;
}

.portfolio-link img {
  margin: 0 auto;
}

.portfolio-caption {
  padding: 10px 0;
}

.portfolio-caption h4, .services-title {
  font-size: 1.2em;
  font-style: bold;
  font-weight: 700;
}

.services-icon-color {
  color: #fed136;
}

.services-row {
  padding-bottom: 50px;
}


/*
 * Timeline template css
 */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  font-weight: 700;
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

/*
 * Timeline custom styles
 */

.timeline-body img {
  margin: 0 0;
  max-height: 100px;
}
